<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Example link -->
    <xacro:include filename="ackrm_robot.urdf.xacro"/>
    <xacro:include filename="cylinder_pivot.xacro"/>
    <xacro:include filename="cylinder_wheel.xacro"/>
    <xacro:include filename="inertia.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="imu.urdf.xacro"/>
    <xacro:include filename="properties.xacro"/>

    
        <!-- Control -->
    <!--xacro:include filename="gazebo_control.xacro"/-->
    <xacro:include filename="ros_control.xacro"/>

    

</robot>
